
body{
    font-family: 'Questrial', sans-serif;
    background-color: #eeeeee;
}


/* HEADER */

.navbarBackground{
    background-color: #eeeeee !important;
}

/* FOOTER */
footer{
    background-color: #222831;
    color: #eeeeee;
    position: relative;
    padding-top: 10rem;
}


/* SECTION1 */
.section1Heading{
    font-family: 'Redressed', cursive;
    font-size: 3rem
}

/* SECTION2 */
.section2Contents{
    margin: 10rem 0;
}

/* SECTION3 */

.section3Background{
    background-color: #222831;
    color: #eeeeee;
    padding: 3rem 0;
}

.section3Title{
    font-family: 'Redressed', cursive;
}

.section3ListGroup{
    background-color: #222831 !important;
    color: #eeeeee;
}


/* SECTION4 */
.section4Content{
    margin: 10rem 0;
}

/* SECTION5 */
.section5Card{
    background-color: #393e46;
    color: #eeeeee;
    margin-top: 10rem;
}

.home-newsletter {
padding: 80px 0;
background: #eeeeee;
}

.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: #222831;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #222831; }
.home-newsletter .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #222831;
color: #eeeeee;
}

.section5Full{
    margin: 10rem 0;
}